.calculator-container{
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  margin-top: 30%;
  margin-left: 35%;
  margin-bottom: 30%;
  width: 30%;
  height: 261px;
}

.calculator-result {
  background-color: rgb(133, 134, 147);
  color: white;
  text-align: end;
  grid-row: 1 / span 1;
}

.calculator-result span {
  position: relative;
  top: 25%;
  left: -1%;
}

.command-line {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.fst { grid-row: 2 / span 1; }

.snd { grid-row: 3 / span 1; }

.thrd { grid-row: 4 / span 1; }

.fth { grid-row: 5 / span 1; }

.fvth { grid-row: 5 / span 1; }